.dropdown {
	position: absolute;
	bottom: 100%;

	margin: 0;
	padding: 0;

	border: 1px solid #ccc;
	border-radius: 3px;
	background: #fff;

	list-style: none;
}

.dropdown > li {
	padding: 8px;
	cursor: "pointer";
}

.dropdown > li:hover {
	background-color: var(--searchy-button-hover-background);
	cursor: pointer;
}
